In [1]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as plt;
import seaborn as sns;

In [2]:
df =  pd.read_csv('placement.csv')
df.sample(5)

     cgpa  package
71   7.47     3.34
175  7.04     3.50
31   8.10     3.89
5    7.89     2.99
165  8.21     4.08