In [1]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as plt;
import seaborn as sns;

In [2]:
df =  pd.read_csv('placement.csv')
df.sample(5)

     cgpa  package
157  6.47     2.70
166  8.60     3.98
113  6.94     2.37
155  6.98     3.09
47   5.84     3.26