In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('placement.csv')
df.shape

(1000, 3)

In [2]:
df.sample(5)

     cgpa  placement_exam_marks  placed
150  8.53                  22.0       0
81   7.12                  44.0       1
568  8.13                   4.0       0
891  7.42                  26.0       1
521  5.72                  37.0       1